
h1{
	color: white;
	font-family: Candara;
	font-size: 100px;
	font-weight: bold;
}
.paragraph { 
	position: relative;
	top: 150px;
	margin: auto;
 }
 .newcastle {
 	color:white;
 	font-family: Candara;
	font-size: 100px;
	font-weight: bold;
 }
.upon {
	color:black ;
 	font-family: Candara;
	font-size: 100px;
	font-weight: bold;
}
.tyne {
	color:white;
 	font-family: Candara;
	font-size: 100px;
	font-weight: bold;
}
.navbar-title {
	color: white;
	font-family: Arial;
}
.nav-link {
	position: relative;
	color:white;
	float:right;
	bottom:42px;
	font-family:Arial ;
	font-size: 20px;
}
.toonbadge2 {
	float: left;
}
.navbar {
	height: 60px;
	background: black;
}
nav a:hover {
	font-weight: bold;
}
.rounded-circle {
	max-width: 100%;
}
.card-block {
	text-align: center;
}
.card-text {
	text-align: center;
}